<app-cabecera>  </app-cabecera>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Quien soy?</h1>
    <p class="lead">Ariel Traut, un alumno de la UTN. Este es mi trabajo practico.</p>
  </div>
</header>

<section id="trabajo">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Esto es un trabajo práctico</h2>
        <p class="lead">Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre.</p>
        <!-- <ul>
          <li>Clickable nav links that smooth scroll to page sections</li>
          <li>Responsive behavior when clicking nav links perfect for a one page website</li>
          <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
          <li>Minimal custom CSS so you are free to explore your own unique design options</li>
        </ul> -->
      </div>
    </div>
  </div>
</section>

<section id="frogger" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2>Frogger</h2>
        <p class="lead">El objetivo del juego es guiar una rana hasta su hogar. Para hacerlo, la rana debe evitar coches mientras cruza una carretera congestionada y luego cruzar un río lleno de amenazas. El jugador hábil obtendrá puntos adicionales a lo largo del camino.</p>
      </div>
      <div class="col-2">
        <img src="../../../assets/imagenes/frogger.png" alt="" style="width:200px">
      </div>

    </div>
  </div>
</section>

<section id="compatibilidad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Donde funciona?</h2>
        <div class="row">
              <div class="col">
                <img src="../../../assets/imagenes/world-wide-web.png" alt="">
                <p class="lead">Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.</p>
              </div>
              <div class="col">
                  <img src="../../../assets/imagenes/user.png" alt="">
                  <p class="lead">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
              </div>
              <div class="col">
                  <img src="../../../assets/imagenes/sharethis.png" alt="">
                <p class="lead">Para los sistemas operativos lideres en el mercado del consumo masivo.</p>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Sala de Juegos 2019</p>
  </div>
  <!-- /.container -->
</footer>
