#head {
  /*padding: 0px 0 0px;*/
  background-color: black;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 500px;
  margin-right: 0px;
  margin-left: 0px;
}

.carousel-inner img {
  /*margin: auto;*/
}

header {
  /*padding: 156px 0 100px;*/
  background-size: cover;
  height: 400px;
  background-color:lightgray;

}

@media (max-width: 767px) {
  header{
    height: 300px;
  }
}

@media (max-width: 572px) {
  header{
    height: 100px;
  }
  .contenedor{
    padding: 0px;
  }
}


